.wrapper{
    border-radius: 50%;
    background: var(--float-button-bg);
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 16px;
    bottom: 16px;
    >.icon{
        fill:var(--float-button-text);
        width: 24px;
        height: 24px;
    }
}