.box{
    margin: 16px 16px;
    >.button{
        
        width: 100%;
    }
    
}
.menuIcon{
    display: flex;
    width: 30px;
    height: 30px;
    fill: var(--navbar-text-color);
    align-items: center;
    justify-content: start;
    position: relative;
    top: 2px;
    
}
.menuFont{
    color: var(--navbar-text-color);
    font-size: 24px;
    margin-left: 12px;
}
.icon{
    width: 128px;
    height: 128px;
    &_wrapper{
        padding: 160px 0;
    }
}
