.menuIcon{
    display: flex;
    width: 30px;
    height: 30px;
    fill: var(--navbar-text-color);
    align-items: center;
    justify-content: start;
    position: relative;
    top: 1px;
    
}
.menuFont{
    color: var(--navbar-text-color);
    font-size: 24px;
    margin-left: 16px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 350px);
  }
  
  .tabs {
    flex-grow: 1;
    flex-shrink: 1;
    overflow:auto;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
  }
  
  .inputPad_wrapper {
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .createTag {
    fill: var(--main);
  }
  
  