:root {
    --total-bg: #252A43;
    --total-text: white;
    --total-income: #FE7275;
    --total-expenses: #53A867;
    --bg: white;
    --app-name-text: #4cc9f0;
    --welcome-color-bg:white;
    --welcome-text:white;
    --welcome-bg-start:#4361ee;
    --welcome-bg-end:#4cc9f0;
    --welcome-nav-height:64px;
    --z-index-bottom-nav:8;
    --z-index-overlay-mask:16;
    --welcome-nav-gap:8px;
    --transtion-duration:0.5s;
    --button-bg:#4361ee;
    --button-text:white;
    --button-radius:8px;
    --button-font-size:18px;
    --button-height:48px;
    --float-button-text:white;
    --float-button-bg:var(--button-bg);
    --navbar-bg-start: var(--welcome-bg-start);
    --navbar-bg-end: var(--welcome-bg-end);
    --navbar-text-color:white;
    --overlay-mask-bg:rgba(0,0,0,0.5);
    --overlay-bg:white;
    --overlay-user-bg: #4361ee;
    --overlay-user-text: white;
    --top-safe-area-height:24px;
    --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
    --button-border-color: #ddd;
    --amount-text: #53A867;
    --date-text: #999999;
    --button-bg-pad: white;
    --button-bg-important: #4361ee;
    --button-text-important:white;
    --emoji-nav-text-selected: #333;
    --emoji-nav-text: #999;
    --error-color: #E10505;
    --input-border-color: #4361ee;
    --input-min-height: 48px;
    --input-radius: var(--button-radius);
    --input-shadow: rgba(0,0,0,0.25);
    --main: #4361ee;
    --tag-bg: #EFEFEF;
    --button-bg-danger: #E10505;
    --dialog-header-text: white;
    --list-tag-text: #333;
    --list-amount-text: var(--amount-text);
    --list-time-text: var(--date-text);
    --text: #333;
    --z-index-navbar: 32;
    --van-overlay-z-index: 64 !important;
  }