.wrapper{
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    >.card{
        flex-grow: 1;
        background-color: var(--welcome-color-bg);
        border-radius: 18px;
        padding: 10px;
        margin: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        text-align: center;
        > h2 {
            margin-top: 40px;
          }
    }
    >.action{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 32px;
        color: var(--welcome-text);
        margin: 0 16px;
        font-weight: 700;
        padding: 24px 0;
        >.fake{
            visibility: hidden;
        }
        
    }
}